<!DOCTYPE html>
<html>
    <head>
        <title>Feed Me!</title>
        <meta name="viewport" content="initial-scale=1.0">
        <meta charset="utf-8">
        <style type="text/css">
            html, body { height: 100%; margin: 0; padding: 0; }
            #map { height: 75%; width: 50%; }
            button { height: 5%; width: 10%; }
        </style>
    </head>
    <body>
        {% block content %}
        {% endblock %}
        {% block js %}
        {% endblock %}
    </body>
</html>